<h4>{{author.name}}</h4>
<p>{{author.bio}}</p>
<ul class="author-meta group">
    {{#if author.location}}<li>{{author.location}}</li>{{/if}}
    {{#if author.website}}<li><a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
</ul>
<ul class="social-links group">
    <li class="twitter"><a href="http://twitter.com/joelgoodman" title="Joel G Goodman on Twitter"><img src="/assets/images/twitter.svg" class="iconic" /><span>Twitter</span></a></li>
    <li class="dribbble"><a href="http://dribbble.com/joelgoodman" title="Joel G Goodman on Dribbble"><img src="/assets/images/dribbble.svg" class="iconic" /><span>Dribbble</span></a></li>
    <li class="insta"><a href="http://instagram.com/joelgoodman" title="Joel G Goodman on Instagram"><img src="/assets/images/insta.svg" class="iconic" /><span>Instagram</span></a></li>
    <li class="flickr"><a href="https://www.flickr.com/photos/asilentthing/" title="Joel G Goodman on Flickr"><img src="/assets/images/flickr.svg" class="iconic" /><span>Flickr</span></a></li>
    <li class="flickr"><a href="http://www.pinterest.com/joelgoodman/" title="Joel G Goodman on Pinterest"><img src="/assets/images/pinterest.svg" class="iconic" /><span>Pinterest</span></a></li>
    <li class="rdio"><a href="http://www.rdio.com/people/joelgoodman/" title="Joel G Goodman on Rdio"><img src="/assets/images/rdio.svg" class="iconic" /><span>Rdio</span></a></li>
    <li class="lastfm"><a href="http://www.last.fm/user/asilentthing" title="Joel G Goodman on Last.fm"><img src="/assets/images/lastfm.svg" class="iconic" /><span>Last.fm</span></a></li>
    <li class="soundcloud"><a href="https://soundcloud.com/joelgoodman" title="Joel G Goodman on SoundCloud"><img src="/assets/images/soundcloud.svg" class="iconic" /><span>SoundCloud</span></a></li>
    <li class="foursquare"><a href="https://foursquare.com/joelgoodman" title="Joel G Goodman on Foursquare"><img src="/assets/images/foursquare.svg" class="iconic" /><span>Foursquare</span></a></li>
    <li class="github"><a href="https://github.com/joelgoodman" title="Joel G Goodman on Github"><img src="/assets/images/github.svg" class="iconic" /><span>Github</span></a></li>
</ul>